Src/NVSComponents/GatewayComponent/POSGateway.Fire/Contracts/OrderConfirmation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="OrderConfirmation"
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <!--Type definitions-->
  <xs:simpleType name="NameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>


  <!--Main schema-->
  <xs:element name="OrderConfirmation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OrderNumber" type="xs:string" />
        <xs:element name="OrderIsConfirmed" type="xs:boolean" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


</xs:schema>
